body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
  padding: 10px;
}

div.one{
  background-color: lightseagreen;
  opacity: 0.1;
}

div.two{
  background-color: lightseagreen;
  opacity: 0.3;
}

div.three{
  background-color: lightseagreen;
  opacity: 0.6;
}

.btn-website {
  width: 250px;
  height:  250px;
  font-size: 20px;
  text-align: center;
  margin: auto;
  background: url(https://images.pexels.com/photos/220201/pexels-photo-220201.jpeg?cs=srgb&dl=pexels-pixabay-220201.jpg&fm=jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}